<!DOCTYPE HTML>
<html>

<head>
	<title>Code with me - Ricardo</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../../../assets/css/main.css" />
</head>

<body class="single is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<h1><a href="../../../index.html">Code with me</a></h1>
			<nav class="links">
				<ul>
					<li><a href="#">Data engineer</a></li>
					<li><a href="#">Viagens</a></li>
					<li><a href="#">Reflexões</a></li>
				</ul>
			</nav>
			<nav class="main">
				<ul>
					<li class="search">
						<a class="fa-search" href="#search">Procurar</a>
						<form id="search" method="get" action="#">
							<input type="text" name="query" placeholder="Search" />
						</form>
					</li>
					<li class="menu">
						<a class="fa-bars" href="#menu">Menu</a>
					</li>
				</ul>
			</nav>
		</header>

		<!-- Menu -->
		<section id="menu">

			<!-- Search -->
			<section>
				<form class="search" method="get" action="#">
					<input type="text" name="query" placeholder="Search" />
				</form>
			</section>

			<!-- Links -->
			<section>
				<ul class="links">
					<li>
						<a href="#">
							<h3>Data engineer</h3>
							<p>Dicas sobre engenharia de dados</p>
						</a>
					</li>
					<li>
						<a href="#">
							<h3>Viagens</h3>
							<p>Um pouco sobre os lugares que visitei</p>
						</a>
					</li>
					<li>
						<a href="#">
							<h3>Reflexões</h3>
							<p>Talvez algumas reflexões do cotidiano</p>
						</a>
					</li>
				</ul>
			</section>

			<!-- Actions -->
			<section>
				<ul class="actions stacked">
					<li><a href="#" class="button large fit">Log In</a></li>
				</ul>
			</section>

		</section>

		<!-- Main -->
		<div id="main">

			<!-- Post -->
			<article class="post">
				<header>
					<div class="title">
						<h2><a href="#">Como trabalhar com Airflow, Spark e DuckDB - 1° Parte</a></h2>
						<p>
							Se você tem a vontade de iniciar a trabalhar com Engenharia de dados ou Análise de
							dados, provavelmente já ouviu falar e/ou leu em algum momento sobre alguma dessas
							ferramentas
						</p>
					</div>
					<div class="meta">
						<time class="published" datetime="2024-02-23">Fevereiro 23, 2024</time>
						<a href="#" class="author"><span class="name">Ricardo</span><img
								src="../../../images/avatar.jpg" alt="" /></a>
					</div>
				</header>
				<span class="image featured"><img src="../../../images/airflow_duckdb_spark.png" alt="" /></span>
				<p>
					Vamos iniciar a configuração de nosso ambiente de desenvolvimento com a instalação
					do Airflow, Spark e DuckDB utilizando imagem em conteiners com a ferramenta Docker.
				</p>
				<p>
					Aqui passaremos por algumas etapas de instalação e configuração das imagens no Docker,
					caso você já esteja familiarizado com esse tipo de abordagem e/ou já tenha o ambiente
					preparado pode seguir para a <a href="_segunda_parte.html">segunda parte</a> do nosso tutorial.
				</p>
				<footer>
					<ul class="stats">
						<li><a href="#">General</a></li>
						<li><a href="#" class="icon solid fa-heart">28</a></li>
						<li><a href="#" class="icon solid fa-comment">128</a></li>
					</ul>
				</footer>
			</article>

		</div>

		<!-- Footer -->
		<section id="footer">
			<ul class="icons">
				<li><a href="https://www.instagram.com/andradricardoo/" class="icon brands fa-instagram"><span
							class="label">Instagram</span></a></li>
				<li><a href="https://www.linkedin.com/in/ricardoandrads/" class="icon brands fa-linkedin"><span
							class="label">Linkedin</span></a></li>
				<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
			</ul>
			<p class="copyright"> &copy; Direitos reservados:
				<a href="https://santosricardo.github.io/">Ricardo Andrade</a>
			</p>
		</section>

	</div>

	<!-- Scripts -->
	<script src="../../../assets/js/jquery.min.js"></script>
	<script src="../../../assets/js/browser.min.js"></script>
	<script src="../../../assets/js/breakpoints.min.js"></script>
	<script src="../../../assets/js/util.js"></script>
	<script src="../../../assets/js/main.js"></script>

</body>

</html>