<!DOCTYPE HTML>
<html>

<head>
	<title>Code with me - Ricardo</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../../../assets/css/main.css" />
</head>

<body class="single is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<h1><a href="../../../index.html">Code with me</a></h1>
			<nav class="links">
				<ul>
					<li><a href="#">Data engineer</a></li>
					<li><a href="#">Viagens</a></li>
					<li><a href="#">Reflexões</a></li>
				</ul>
			</nav>
			<nav class="main">
				<ul>
					<li class="search">
						<a class="fa-search" href="#search">Procurar</a>
						<form id="search" method="get" action="#">
							<input type="text" name="query" placeholder="Search" />
						</form>
					</li>
					<li class="menu">
						<a class="fa-bars" href="#menu">Menu</a>
					</li>
				</ul>
			</nav>
		</header>

		<!-- Menu -->
		<section id="menu">

			<!-- Search -->
			<section>
				<form class="search" method="get" action="#">
					<input type="text" name="query" placeholder="Search" />
				</form>
			</section>

			<!-- Links -->
			<section>
				<ul class="links">
					<li>
						<a href="#">
							<h3>Data engineer</h3>
							<p>Dicas sobre engenharia de dados</p>
						</a>
					</li>
					<li>
						<a href="#">
							<h3>Viagens</h3>
							<p>Um pouco sobre os lugares que visitei</p>
						</a>
					</li>
					<li>
						<a href="#">
							<h3>Reflexões</h3>
							<p>Talvez algumas reflexões do cotidiano</p>
						</a>
					</li>
				</ul>
			</section>

			<!-- Actions -->
			<section>
				<ul class="actions stacked">
					<li><a href="#" class="button large fit">Log In</a></li>
				</ul>
			</section>

		</section>

		<!-- Main -->
		<div id="main">

			<!-- Post -->
			<article class="post">
				<header>
					<div class="title">
						<h2><a href="#">Como trabalhar com Airflow, Spark e DuckDB - 2° Parte</a></h2>
						<p>
							Se você tem a vontade de iniciar a trabalhar com Engenharia de dados ou Análise de
							dados, provavelmente já ouviu falar e/ou leu em algum momento sobre alguma dessas
							ferramentas
						</p>
					</div>
					<div class="meta">
						<time class="published" datetime="2024-02-23">Fevereiro 23, 2024</time>
						<a href="#" class="author"><span class="name">Ricardo</span><img
								src="../../../images/avatar.jpg" alt="" /></a>
					</div>
				</header>
				<span class="image featured"><img src="../../../images/airflow_duckdb_spark.png" alt="" /></span>
				<p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod
					placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non
					congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta
					lectus vitae, ultricies congue gravida diam non fringilla.</p>
				<p>Nunc quis dui scelerisque, scelerisque urna ut, dapibus orci. Sed vitae condimentum lectus, ut
					imperdiet quam. Maecenas in justo ut nulla aliquam sodales vel at ligula. Sed blandit diam odio, sed
					fringilla lectus molestie sit amet. Praesent eu tortor viverra lorem mattis pulvinar feugiat in
					turpis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
					Fusce ullamcorper tellus sit amet mattis dignissim. Phasellus ut metus ligula. Curabitur nec leo
					turpis. Ut gravida purus quis erat pretium, sed pellentesque massa elementum. Fusce vestibulum porta
					augue, at mattis justo. Integer sed sapien fringilla, dapibus risus id, faucibus ante. Pellentesque
					mattis nunc sit amet tortor pellentesque, non placerat neque viverra. </p>
				<footer>
					<ul class="stats">
						<li><a href="#">General</a></li>
						<li><a href="#" class="icon solid fa-heart">28</a></li>
						<li><a href="#" class="icon solid fa-comment">128</a></li>
					</ul>
				</footer>
			</article>

		</div>

		<!-- Footer -->
		<section id="footer">
			<ul class="icons">
				<li><a href="https://www.instagram.com/andradricardoo/" class="icon brands fa-instagram"><span
							class="label">Instagram</span></a></li>
				<li><a href="https://www.linkedin.com/in/ricardoandrads/" class="icon brands fa-linkedin"><span
							class="label">Linkedin</span></a></li>
				<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
			</ul>
			<p class="copyright"> &copy; Direitos reservados:
				<a href="https://santosricardo.github.io/">Ricardo Andrade</a>
			</p>
		</section>

	</div>

	<!-- Scripts -->
	<script src="../../../assets/js/jquery.min.js"></script>
	<script src="../../../assets/js/browser.min.js"></script>
	<script src="../../../assets/js/breakpoints.min.js"></script>
	<script src="../../../assets/js/util.js"></script>
	<script src="../../../assets/js/main.js"></script>

</body>

</html>